<hr width="90%">
<footer class="footer-m">

  <div class="footer-columns">
    <div class="footer-comp">
      <h3>Enlaces Rapido</h3>
      <hr>
      <ol class="footer-ol">
        <li><a href="https://helllonely.github.io/Web-CGC/pages/index.html">Inicio</a></li>
        <li><a href="https://helllonely.github.io/Web-CGC/pages/canvas.html">Canvas</a></li>
        <li><a href="https://helllonely.github.io/Web-CGC/pages/css.html">CSS</a></li>
        <li><a href="https://helllonely.github.io/Web-CGC/pages/media.html">Media</a></li>
        <li><a href="https://helllonely.github.io/Web-CGC/pages/form.html">Registrate</a></li>
        <li><a href="https://helllonely.github.io/Web-CGC/pages/examen.html">Examen</a></li>
      </ol>
    </div>
  </div>

  <div class="footer-titles">
    <h3>CGC</h3>
    <p>&copy; 2023 CGC. Todos los derechos reservado.</p>
  </div>

</footer>
