<nav class="nav">
    <img src="../../assets/img/logo.png" alt="logo" width="64">

    <div class="nav-bar" id="navBar">
        <a href="../../pages/index.html" class="navChange">Inicio</a>

        <a href="../../pages/canvas.html" class="navChange">Canvas</a>

        <a href="../../pages/css.html" class="navChange">CSS</a>

        <a href="../../pages/media.html" class="navChange">Media</a>

        <a href="../../pages/form.html" class="navChange">Registro</a>

        <a href="../../pages/examen.html" class="navChange">Examen</a>
    </div>
</nav>